

	#send{
		background-color: #FD7B7B;
		border-radius: 10px;
		margin-bottom: 20%;
		height: 60px;
		position: relative;
		width: 90%;
		padding-left: 5px;

        
	}
	label{
		font-size: 30px;
	}
	#chat_plane{

		height: 85%;
		
		margin-top: 0;
		border-color: red;
		background-color: white;
		/*overflow-y: scroll;*/
		background-image: linear-gradient(lightblue,white);
		font-size: 20px;
		

	}
	}
	body{
		margin: 0;
		padding: 0;
		

	}
#box{
 width: 90%;
 padding-left: 3px;
 height: 30px;
 font-size: 20px;


}
.button{
	margin-right: 10px;
	color: #31abe8;
	border: 5px;
	padding-left: 8px ;
	padding-right: 8px ;
	padding-bottom: ;
	padding-top: ;
	  font-family: "Lucida Console", Courier, monospace;

	font-weight:bold;
	background-color: white;
	text-align: center;
	font-size: 20px;
}
